<div class="{{pageClass||'container ct'}}" ng-if="page && page.totalPages>1">
    <ul class="pagination">
        <li ng-if="!page.first">
            <a href="#" ng-click="queryPage(page.current-1)" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li ng-class="{'active':page.current==1}">
            <a href="#" ng-click="queryPage(1)">1</a>
        </li>
        <li ng-if="page.current > 5">
            <a href="javascript:;">...</a>
        </li>
        <li ng-repeat="n in []|range: (page.totalPages > 7 ?(page.current>=4?(page.current+4 < page.totalPages?page.current+2:page.totalPages-1):5) :page.totalPages-1):(page.current > 5?page.current-2:2)"
            ng-class="{'active':page.current==n}">
            <a href="#" ng-click="queryPage(n)">{{n}}</a>
        </li>
        <li ng-if="page.totalPages > 7 && page.current+4 < page.totalPages">
            <a href="javascript:;">...</a>
        </li>
        <li ng-class="{'active':page.current==page.totalPages}">
            <a href="#" ng-click="queryPage(page.totalPages)">{{page.totalPages}}</a>
        </li>
        <li ng-if="!page.last">
            <a href="#" ng-click="queryPage(page.current+1)" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</div>