/*color*/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/*font-family: "微軟正黑體", "Microsoft YaHei", "Arial Unicode MS", "Helvetica Neue", Helvetica, sans-serif;*/
/*@media (min-width:1360px) {
.container {
    max-width: 1330px;
}
}*/
.breadcrumb-hold {
  border-bottom: 1px solid #dfdfdf;
}
.breadcrumb {
  /*width:100%;*/
  padding: 0px;
  background: none;
  text-align: left;
  float: left;
  margin-top: 10px;
  margin-bottom: 0px;
}
.breadcrumb li {
  font-size: 13px;
  color: #787878;
  margin-right: 1px\0;
}
.breadcrumb li a {
  color: #787878;
  display: inline-block;
}
.breadcrumb li a:hover {
  color: #7194cd;
  text-decoration: none;
}
.breadcrumb li + li:before {
  color: #afafaf;
}
.tooltip.top .tooltip-inner {
  background-color: #7194cd;
}
.tooltip.top .tooltip-arrow {
  border-top-color: #7194cd;
}
.form-control {
  border: 1px solid #dfdfdf;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0) inset;
}
.form-control:focus {
  border-color: #95d600;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(149, 214, 0, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(149, 214, 0, 0.6);
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #f5f5f5;
}
.btn-group.open .dropdown-toggle {
  /*.shadow-inner (0,0,0,0);*/
}
.btn {
  font-size: 15px;
}
.btn-success {
  color: #ffffff;
  background: #95d600;
  border: #95d600 1px solid;
  border-radius: 35px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.19);
}
.btn-success:hover {
  border: #95d600 1px solid;
  background: #95d600;
  opacity: .8;
}
.btn-success i {
  color: #ffffff;
}
.btn-success i:before {
  color: #ffffff;
}
.btn-primary {
  color: #ffffff;
  background: #7194cd;
  /* Old browsers */
  border: #7194cd 1px solid;
}
.btn-primary:hover {
  background: #546e9e;
}
.btn-danger {
  color: #ffffff;
  background: #e9392a;
  /* Old browsers */
  border: #e9392a 1px solid;
}
.btn-danger:hover {
  background: #c8171f;
}
.btn-warning {
  color: #ffffff;
  background: #ff6b01;
  /* Old browsers */
  border: #ff6b01 1px solid;
  border-radius: 35px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.19);
}
.btn-warning:hover {
  background: #ff6b01;
  opacity: .8;
}
.btn-warning i {
  color: #ffffff;
}
.btn-warning i:before {
  color: #ffffff;
}
.btn-default {
  background: #ffffff;
  /* Old browsers */
  border: #dfdfdf 1px solid;
  color: #787878;
}
.btn-default:hover {
  background: #f5f5f5;
}
.bg-warning {
  background: #ff6b01;
  color: #ffffff;
}
.bg-success {
  background: #95d600;
  color: #ffffff;
}
.table thead th,
.table thead tr {
  background: #ebebeb;
}
.table thead th td,
.table thead tr td {
  padding: 15px !important;
}
.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
  vertical-align: middle;
  /*text-align: center;*/
  /*padding: 8px 8px 8px 14px;*/
  border-top: 0;
  border-bottom: 1px solid #dedede;
}
.table-no thead > tr > th,
.table-no tbody > tr > th,
.table-no tfoot > tr > th,
.table-no thead > tr > td,
.table-no tbody > tr > td,
.table-no tfoot > tr > td {
  border-top: 0px;
}
table {
  word-break: break-all;
  word-wrap: break-word;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: rgba(105, 180, 15, 0.15);
  border-color: rgba(105, 180, 15, 0.3);
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td {
  background-color: rgba(105, 180, 15, 0.15);
  border-color: rgba(105, 180, 15, 0.3);
}
/*Pegination*/
.pagination {
  margin: 0px;
  border-radius: 0px;
}
.pagination li {
  display: inline-block;
  margin: 0px 3px;
}
.pagination li a {
  color: #787878;
  padding: 5px 10px;
}
/*pagination*/
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  color: #fff;
  background: #ff6b01;
  border-color: #ff6b01;
}
/*////////////////////////////*/
.panel-group {
  margin-bottom: 0px;
}
/*////////////////////////////*/
.panel-group .panel {
  border-radius: 0px;
}
.btn-group .btn-warning {
  border-radius: 8px;
}
.btn-group .btn-success {
  border-radius: 8px;
}
.btn-group-vertical > .btn:first-child:not(:last-child) {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.btn-group-vertical > .btn:last-child:not(:first-child) {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #373737;
  border-color: #afafaf;
  background: #f5f5f5;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0) inset;
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0) inset;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0) inset;
}
.form-group {
  margin-bottom: 10px;
}
