.twzip-group {
	display: inline-block;
    width: 9rem;
    margin-right: 4px;
}
.down {
	padding-top: 7px;
}
.pointer {
    cursor: pointer;
}
.service-detail .modal-dialog {
	width: 680px;
}
#general-div .row {
	margin-left: 0px;
}
#general-div .row div, #general-div .form-group div{
	padding-right: 5px;
    padding-left: 5px;
}
.left-space{
	float:right;
	padding-right: 5em;
}
table.blue-strip th {
	background: #D7EAFC;
}
.remove-padding-right div {
	padding-right: 0px;
}

.image-preview input {
	line-height: 200px;
	font-size: 200px;
	position: absolute;
	opacity: 0;
	z-index: 10;
}

/* 圖片預覽 */
.image-preview label {
	position: absolute;
	z-index: 5;
	opacity: 0.8;
	cursor: pointer;
	background-color: #bdc3c7;
	width: 200px;
	height: 50px;
	font-size: 20px;
	line-height: 50px;
	text-transform: uppercase;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	text-align: center;
}
.autoHeight{
	height: auto !important;
}

.play-active{
	color: white !important;
}