/*color*/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/*font-family: "微軟正黑體", "Microsoft YaHei", "Arial Unicode MS", "Helvetica Neue", Helvetica, sans-serif;*/
.main-title {
  /*margin-top: 13px;*/
  border-left: 3px solid #95d600;
  text-indent: 10px;
  padding-top: 4px;
  font-size: 25px;
}
.special-title {
  height: 42px;
  font-size: 20px;
  background: #f7d156;
  position: relative;
  line-height: 44px;
  padding-left: 60px;
  font-weight: bolder;
  border-radius: 25px;
}
.special-title:before {
  display: inline-block;
  height: 42px;
  width: 54px;
  background: url(../img/inpage/banner-left-arrow.jpg) no-repeat;
  background-size: cover;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}
.title-red {
  color: #bd0013;
  font-weight: bolder;
  font-size: 15px;
}
.discount-title {
  padding-left: 30px;
  position: relative;
  font-size: 18px;
  font-weight: bolder;
}
.discount-title:before {
  content: "";
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url(../img/inpage/i-tag.jpg) no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.discount-title.talk:before {
  background: url(../img/inpage/i-talk.jpg) no-repeat;
  background-size: cover;
}
.orange-title {
  background: #ff6b01;
  color: #fff;
  font-size: 20px;
  padding: 8px 0 7px 15px;
  border-top-left-radius: 15px;
}
.orange-title a {
  color: #fff;
  text-decoration: none;
}
.orange-title:hover {
  background: #f7d156;
}
.gray-title {
  color: #afafaf;
  font-size: 20px;
}
.dark-title {
  color: #373737;
  line-height: 27px;
  font-size: 20px;
  position: relative;
  display: block;
}
.dark-title small.note {
  position: absolute;
  left: 50%;
  margin-left: 35px;
  top: 10px;
}
.color-green-dark.inline-block {
  margin: 3px;
}
.product-title {
  font-size: 30px;
  margin-top: 0;
  padding-right: 25px;
}
.two-title {
  margin-top: 20px;
}
.two-title .orange-title,
.two-title .gray-title {
  display: inline-block;
}
.two-title .orange-title {
  margin-right: 20px;
}
.title-b-line {
  border-bottom: 1px solid #ededed;
  font-size: 25px;
  padding-bottom: 10px;
}
.title-icon {
  color: #77ab00;
}
.title-icon i {
  font-size: 33px;
  margin-right: 6px;
  position: relative;
  top: 3px;
}
.bg-green-title {
  padding: 5px 10px 3px 10px;
  margin-bottom: 15px;
  font-size: 18px;
  display: inline-block;
  color: #fff;
  background: #77ab00;
}
/*************************************
*		common
**************************************/
* {
  border-radius: 0px;
}
:focus {
  outline: none;
}
li {
  list-style: none;
}
::-moz-focus-inner {
  border: 0;
}
input:focus {
  outline: 0;
}
a {
  text-decoration: none;
}
p {
  display: block;
}
.clearfix {
  clear: both;
}
.nowrap {
  white-space: nowrap;
}
.pos-re {
  position: relative;
}
.pos-ab {
  position: absolute;
}
.center {
  margin: 0 auto;
}
.inline-block {
  display: inline-block;
}
.img-responsive-100 {
  width: 100%;
  height: auto;
}
/*txt*/
.lt {
  text-align: left;
}
.ct {
  text-align: center;
}
.rt {
  text-align: right;
}
.color-red {
  color: #bd0013;
}
.color-blue {
  color: #7194cd;
}
.color-green {
  color: #95d600;
}
.color-green-dark {
  color: #77ab00;
}
.color-orange {
  color: #ff6b01;
}
.color-gray {
  color: #787878;
}
.color-dark {
  color: #373737;
}
.color-gray-light {
  color: #afafaf;
}
.color-white {
  color: #ffffff;
}
.color-logo {
  color: #7194cd;
}
.txt-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
/*多餘文字...效果*/
/*list*/
.list-cjk li {
  list-style-type: cjk-ideographic;
}
/*國字數字*/
.list-num {
  padding-left: 20px;
}
.list-num li {
  list-style-type: decimal;
}
/*數字*/
.list-dot {
  padding-left: 20px;
}
.list-dot li {
  position: relative;
  list-style: none;
}
.list-dot li:before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  left: -10px;
  top: 9px;
  background: #afafaf;
}
.list-dot.l-h-30 li:before {
  top: 13px;
}
.list-warning {
  padding-left: 20px;
}
.list-warning li {
  position: relative;
  margin-bottom: 5px;
}
.list-warning li:before {
  content: "/";
  color: #fff;
  position: absolute;
  display: inline-block;
  padding: 2px 3px;
  left: -17px;
  top: 0px;
  background: #f7d156;
}
.list-warning li .color-green-dark {
  font-size: 18px;
  font-weight: bolder;
}
.list-check {
  padding-left: 32px;
}
.list-check li {
  position: relative;
  margin-bottom: 5px;
}
.list-check li:before {
  content: "\ea10";
  font-family: "icomoon";
  color: #95d600;
  font-size: 16px;
  position: absolute;
  left: -23px;
}
.list-abc li {
  list-style-type: lower-alpha;
}
/*小寫英文abc*/
.list-ABC li {
  list-style-type: upper-alpha;
}
/*大英文abc*/
.list-non li {
  list-style-type: none;
}
/*無符號*/
.font-18 {
  font-size: 18px;
}
/*width / height */
.wid_100per {
  width: 100%;
}
.wid_90per {
  width: 90%;
}
.wid_80per {
  width: 80%;
}
.wid_70per {
  width: 70%;
}
.wid_65per {
  width: 65%;
}
.wid_60per {
  width: 60%;
}
.wid_50per {
  width: 50%;
}
.wid_55per {
  width: 55%;
}
.wid_49per {
  width: 49%;
}
.wid_48per {
  width: 48%;
}
.wid_45per {
  width: 45%;
}
.wid_40per {
  width: 40%;
}
.wid_35per {
  width: 35%;
}
.wid_30per {
  width: 30%;
}
.wid_25per {
  width: 25%;
}
.wid_20per {
  width: 20%;
}
.wid_15per {
  width: 15%;
}
.wid_10per {
  width: 10%;
}
.wid_100px {
  width: 100px;
}
.wid_120px {
  width: 120px;
}
.wid_150px {
  width: 150px;
}
.wid_250px {
  width: 250px;
}
.wid_300px {
  width: 300px;
}
.wid_80px {
  width: 80px;
}
.wid_70px {
  width: 70px;
}
.wid_65px {
  width: 65px;
}
.wid_60px {
  width: 60px;
}
.wid_50px {
  width: 50px;
}
.wid_40px {
  width: 40px;
}
.wid_35px {
  width: 35px;
}
.wid_30px {
  width: 30px;
}
.wid_25px {
  width: 25px;
}
.wid_20px {
  width: 20px;
}
.wid_15px {
  width: 15px;
}
.wid_10px {
  width: 10px;
}
.wid_5px {
  width: 5px;
}
.ht_85px {
  height: 85px;
}
.ht_65px {
  height: 65px;
}
.mt-20 {
  margin-top: -20px !important;
}
.mt-10 {
  margin-top: -10px !important;
}
.mt-5 {
  margin-top: -5px !important;
}
.mt5 {
  margin-top: 5px !important;
}
.mt0 {
  margin-top: 0px !important;
}
.mt10 {
  margin-top: 10px !important;
}
.mt15 {
  margin-top: 15px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mt25 {
  margin-top: 25px !important;
}
.mt30 {
  margin-top: 30px !important;
}
.mt40 {
  margin-top: 40px !important;
}
.mt50 {
  margin-top: 50px !important;
}
.mb0 {
  margin-bottom: 0px !important;
}
.mb5 {
  margin-bottom: 5px !important;
}
.mb10 {
  margin-bottom: 10px !important;
}
.mb15 {
  margin-bottom: 15px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.mb25 {
  margin-bottom: 25px !important;
}
.mb30 {
  margin-bottom: 30px !important;
}
.mb35 {
  margin-bottom: 35px !important;
}
.mb40 {
  margin-bottom: 40px !important;
}
.mb50 {
  margin-bottom: 50px !important;
}
.mb60 {
  margin-bottom: 60px !important;
}
.mb70 {
  margin-bottom: 70px !important;
}
.m0 {
  margin: 0;
}
/* padding / margin */
.pl80 {
  padding-left: 80px;
}
.pl10 {
  padding-left: 10px  !important;
}
.plr0 {
  padding: 0px 0px 0px 0px !important;
}
.plr5 {
  padding: 0px 5px 0px 5px !important;
}
.plr10 {
  padding: 0px 10px 0px 10px !important;
}
.plr15 {
  padding: 0px 15px 0px 15px !important;
}
.plr30 {
  padding-left: 30px;
  padding-right: 30px;
}
.mar_btm0 {
  margin-bottom: 0;
}
/*background*/
.bg_gray {
  background: #f1f1f1;
}
.bg_white {
  background: #fff !important;
}
/*div table*/
.div-tb {
  display: table;
  width: 100%;
}
.div-tb .td {
  display: table-cell;
  vertical-align: top;
  padding: 0px;
  line-height: 25px;
}
.div-tb .td.hd {
  color: #373737;
}
.div-tb .td.rt strong {
  font-weight: normal;
}
.div-tb .idx_tr {
  display: table-row;
}
.vtop {
  vertical-align: top!important;
}
.vmid {
  vertical-align: middle !important;
}
.vbtm {
  vertical-align: bottom !important;
}
/*@media (min-width:1360px) {
.container {
    max-width: 1330px;
}
}*/
.breadcrumb-hold {
  border-bottom: 1px solid #dfdfdf;
}
.breadcrumb {
  /*width:100%;*/
  padding: 0px;
  background: none;
  text-align: left;
  float: left;
  margin-top: 10px;
  margin-bottom: 0px;
}
.breadcrumb li {
  font-size: 13px;
  color: #787878;
  margin-right: 1px\0;
}
.breadcrumb li a {
  color: #787878;
  display: inline-block;
}
.breadcrumb li a:hover {
  color: #7194cd;
  text-decoration: none;
}
.breadcrumb li + li:before {
  color: #afafaf;
}
.tooltip.top .tooltip-inner {
  background-color: #7194cd;
}
.tooltip.top .tooltip-arrow {
  border-top-color: #7194cd;
}
.form-control {
  border: 1px solid #dfdfdf;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0) inset;
}
.form-control:focus {
  border-color: #95d600;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(149, 214, 0, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(149, 214, 0, 0.6);
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #f5f5f5;
}
.btn-group.open .dropdown-toggle {
  /*.shadow-inner (0,0,0,0);*/
}
.btn {
  font-size: 15px;
}
.btn-sm {
  padding: 3px;
}
.btn-success {
  color: #ffffff;
  background: #95d600;
  border: #95d600 1px solid;
  border-radius: 35px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.19);
}
.btn-success:hover {
  border: #95d600 1px solid;
  background: #95d600;
  opacity: .8;
}
.btn-success i {
  color: #ffffff;
}
.btn-success i:before {
  color: #ffffff;
}
.btn-primary {
  color: #ffffff;
  background: #7194cd;
  /* Old browsers */
  border: #7194cd 1px solid;
}
.btn-primary:hover {
  background: #546e9e;
}
.btn-danger {
  color: #ffffff;
  background: #bd0013;
  /* Old browsers */
  border: #bd0013 1px solid;
}
.btn-danger:hover {
  background: #c8171f;
}
.btn-warning {
  color: #ffffff;
  background: #ff6b01;
  /* Old browsers */
  border: #ff6b01 1px solid;
  border-radius: 35px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.19);
}
.btn-warning:hover {
  background: #ff6b01;
  opacity: .8;
}
.btn-warning i {
  color: #ffffff;
}
.btn-warning i:before {
  color: #ffffff;
}
.btn-default {
  background: #ffffff;
  /* Old browsers */
  border: #dfdfdf 1px solid;
  color: #787878;
}
.btn-default:hover {
  background: #f5f5f5;
}
.bg-warning {
  background: #ff6b01;
  color: #ffffff;
}
.bg-success {
  background: #95d600;
  color: #ffffff;
}
.table thead th,
.table thead tr {
  background: #ebebeb;
}
.table thead th td,
.table thead tr td {
  padding: 15px !important;
}
.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
  vertical-align: middle;
  /*text-align: center;*/
  /*padding: 8px 8px 8px 14px;*/
  border-top: 0;
  border-bottom: 0;
}
.table thead > tr,
.table tbody > tr,
.table tfoot > tr,
.table thead > tr,
.table tbody > tr,
.table tfoot > tr {
  vertical-align: middle;
  /*text-align: center;*/
  /*padding: 8px 8px 8px 14px;*/
  border-top: 0;
  border-bottom: 1px solid #dedede;
}
.table-no thead > tr,
.table-no tbody > tr,
.table-no tfoot > tr,
.table-no thead > tr,
.table-no tbody > tr,
.table-no tfoot > tr {
  border-top: 0px;
}
table {
  word-break: break-all;
  word-wrap: break-word;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: rgba(105, 180, 15, 0.15);
  border-color: rgba(105, 180, 15, 0.3);
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td {
  background-color: rgba(105, 180, 15, 0.15);
  border-color: rgba(105, 180, 15, 0.3);
}
/*Pegination*/
.pagination {
  margin: 0px;
  border-radius: 0px;
}
.pagination li {
  display: inline-block;
  margin: 0px 3px;
}
.pagination li a {
  color: #787878;
  padding: 5px 10px;
}
/*pagination*/
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  color: #fff;
  background: #ff6b01;
  border-color: #ff6b01;
}
/*////////////////////////////*/
.panel-group {
  margin-bottom: 0px;
}
/*////////////////////////////*/
.btn-group .btn-warning {
  border-radius: 4px;
}
.btn-group .btn-success {
  border-radius: 4px;
}
.btn {
  /*padding: 5px 12px;*/
}
.btn-link {
  color: #77ab00;
}
.btn-link:hover {
  color: #ff6b01;
}
.btn-group-vertical > .btn:first-child:not(:last-child) {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.btn-group-vertical > .btn:last-child:not(:first-child) {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #373737;
  border-color: #afafaf;
  background: #f5f5f5;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0) inset;
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0) inset;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0) inset;
}
.form-group {
  margin-bottom: 10px;
}
.progress-bar-success {
  background-color: #77ab00;
}
/*///////inpage-slider/////////*/
.article-slide {
  position: relative;
  width: 100%;
  /* Indicators list style */
}
.article-slide .carousel-control {
  background: transparent;
  width: 40px;
  height: 40px;
  top: 50%;
  margin-top: -25px;
  padding-top: 5px;
  opacity: 0;
  text-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.article-slide .carousel-control i {
  color: #afafaf;
  font-size: 33px;
}
.article-slide .left {
  left: -10px;
}
.article-slide .right {
  right: -10px;
}
.article-slide:hover .carousel-control {
  opacity: .5;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.article-slide .item {
  text-align: center;
}
.article-slide .item img {
  margin: 0 auto;
}
.article-slide .carousel-indicators {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  margin-top: 22px;
}
.article-slide .carousel-indicators li {
  border: medium none;
  border-radius: 0;
  float: left;
  margin: 0;
  padding: 0;
  width: 100px;
  background: transparent;
}
.article-slide .carousel-indicators li img {
  float: left;
  width: 100px;
  height: auto;
  opacity: 0.4;
}
.article-slide .carousel-indicators .active img {
  opacity: 1;
}
.modal-header {
  background: #e3f4be;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
/*//END/////inpage-slider/////////*/
.keep-go {
  background: #e3f4be;
  color: #373737;
  border-radius: 30px;
  padding: 5px 5px 5px 20px;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  text-decoration: none;
}
.btn-blue-rim {
  border-radius: 5px;
  border: 1px solid #7194cd;
  color: #7194cd;
}
.btn-blue-rim i {
  color: #7194cd;
}
.btn-red-rim {
  border-radius: 5px;
  border: 1px solid #bd0013;
  color: #bd0013;
}
.btn-red-rim i {
  color: #bd0013;
}
.btn.social i {
  font-size: 28px;
  float: left;
}
.link-logo {
  color: #7194cd;
  text-decoration: none;
}
.link-logo:hover {
  text-decoration: none;
  color: #546e9e;
}
.gap20 {
  padding: 0 5px;
}
.gap20 .col-xs-1,
.gap20 .col-sm-1,
.gap20 .col-md-1,
.gap20 .col-lg-1,
.gap20 .col-xs-2,
.gap20 .col-sm-2,
.gap20 .col-md-2,
.gap20 .col-lg-2,
.gap20 .col-xs-3,
.gap20 .col-sm-3,
.gap20 .col-md-3,
.gap20 .col-lg-3,
.gap20 .col-xs-4,
.gap20 .col-sm-4,
.gap20 .col-md-4,
.gap20 .col-lg-4,
.gap20 .col-xs-5,
.gap20 .col-sm-5,
.gap20 .col-md-5,
.gap20 .col-lg-5,
.gap20 .col-xs-6,
.gap20 .col-sm-6,
.gap20 .col-md-6,
.gap20 .col-lg-6,
.gap20 .col-xs-7,
.gap20 .col-sm-7,
.gap20 .col-md-7,
.gap20 .col-lg-7,
.gap20 .col-xs-8,
.gap20 .col-sm-8,
.gap20 .col-md-8,
.gap20 .col-lg-8,
.gap20 .col-xs-9,
.gap20 .col-sm-9,
.gap20 .col-md-9,
.gap20 .col-lg-9,
.gap20 .col-xs-10,
.gap20 .col-sm-10,
.gap20 .col-md-10,
.gap20 .col-lg-10,
.gap20 .col-xs-11,
.gap20 .col-sm-11,
.gap20 .col-md-11,
.gap20 .col-lg-11,
.gap20 .col-xs-12,
.gap20 .col-sm-12,
.gap20 .col-md-12,
.gap20 .col-lg-12 {
  padding-right: 10px;
  padding-left: 10px;
}
.gap10 {
  padding: 0 10px;
}
.gap10 .col-xs-1,
.gap10 .col-sm-1,
.gap10 .col-md-1,
.gap10 .col-lg-1,
.gap10 .col-xs-2,
.gap10 .col-sm-2,
.gap10 .col-md-2,
.gap10 .col-lg-2,
.gap10 .col-xs-3,
.gap10 .col-sm-3,
.gap10 .col-md-3,
.gap10 .col-lg-3,
.gap10 .col-xs-4,
.gap10 .col-sm-4,
.gap10 .col-md-4,
.gap10 .col-lg-4,
.gap10 .col-xs-5,
.gap10 .col-sm-5,
.gap10 .col-md-5,
.gap10 .col-lg-5,
.gap10 .col-xs-6,
.gap10 .col-sm-6,
.gap10 .col-md-6,
.gap10 .col-lg-6,
.gap10 .col-xs-7,
.gap10 .col-sm-7,
.gap10 .col-md-7,
.gap10 .col-lg-7,
.gap10 .col-xs-8,
.gap10 .col-sm-8,
.gap10 .col-md-8,
.gap10 .col-lg-8,
.gap10 .col-xs-9,
.gap10 .col-sm-9,
.gap10 .col-md-9,
.gap10 .col-lg-9,
.gap10 .col-xs-10,
.gap10 .col-sm-10,
.gap10 .col-md-10,
.gap10 .col-lg-10,
.gap10 .col-xs-11,
.gap10 .col-sm-11,
.gap10 .col-md-11,
.gap10 .col-lg-11,
.gap10 .col-xs-12,
.gap10 .col-sm-12,
.gap10 .col-md-12,
.gap10 .col-lg-12 {
  padding-right: 5px;
  padding-left: 5px;
}
.gap0 {
  padding: 0 15px;
}
.gap0 > .col-xs-1,
.gap0 > .col-sm-1,
.gap0 > .col-md-1,
.gap0 > .col-lg-1,
.gap0 > .col-xs-2,
.gap0 > .col-sm-2,
.gap0 > .col-md-2,
.gap0 > .col-lg-2,
.gap0 > .col-xs-3,
.gap0 > .col-sm-3,
.gap0 > .col-md-3,
.gap0 > .col-lg-3,
.gap0 > .col-xs-4,
.gap0 > .col-sm-4,
.gap0 > .col-md-4,
.gap0 > .col-lg-4,
.gap0 > .col-xs-5,
.gap0 > .col-sm-5,
.gap0 > .col-md-5,
.gap0 > .col-lg-5,
.gap0 > .col-xs-6,
.gap0 > .col-sm-6,
.gap0 > .col-md-6,
.gap0 > .col-lg-6,
.gap0 > .col-xs-7,
.gap0 > .col-sm-7,
.gap0 > .col-md-7,
.gap0 > .col-lg-7,
.gap0 > .col-xs-8,
.gap0 > .col-sm-8,
.gap0 > .col-md-8,
.gap0 > .col-lg-8,
.gap0 > .col-xs-9,
.gap0 > .col-sm-9,
.gap0 > .col-md-9,
.gap0 > .col-lg-9,
.gap0 > .col-xs-10,
.gap0 > .col-sm-10,
.gap0 > .col-md-10,
.gap0 > .col-lg-10,
.gap0 > .col-xs-11,
.gap0 > .col-sm-11,
.gap0 > .col-md-11,
.gap0 > .col-lg-11,
.gap0 > .col-xs-12,
.gap0 > .col-sm-12,
.gap0 > .col-md-12,
.gap0 > .col-lg-12 {
  padding-right: 0px;
  padding-left: 0px;
}
.register {
  margin-top: 30px;
}
.custom-shadow-b:before {
  display: inline-block;
  content: "";
  width: 100%;
  height: 8px;
  background: url(../img/inpage/shadow-b.png) no-repeat center bottom;
  background-size: cover;
  position: absolute;
  bottom: 0;
  opacity: .5;
  z-index: 2;
}
.custom-shadow-t:after {
  display: inline-block;
  content: "";
  width: 100%;
  height: 8px;
  background: url(../img/inpage/shadow-t.png) no-repeat center top;
  background-size: cover;
  position: absolute;
  opacity: .5;
  top: 0;
  z-index: 2;
}
.online-course {
  padding: 30px 0;
  position: relative;
}
.online-course:before {
  display: inline-block;
  content: "";
  width: 100%;
  height: 8px;
  background: url(../img/inpage/shadow-b.png) no-repeat center bottom;
  background-size: cover;
  position: absolute;
  bottom: 0;
  opacity: .5;
  z-index: 2;
}
.online-course.only-top:after {
  display: inline-block;
  content: "";
  width: 100%;
  height: 8px;
  background: url(../img/inpage/shadow-t.png) no-repeat center top;
  background-size: cover;
  position: absolute;
  opacity: .5;
  top: 0;
  z-index: 2;
}
.online-course.only-top:before {
  display: none;
}
.course-content {
  padding: 40px 0;
}
.course-content .orange-title {
  margin-bottom: 30px;
}
.select-table tr:last-child {
  border-bottom: 0;
}
.select-table tr:last-child td {
  border-bottom: 0;
}
.dog {
  position: relative;
  padding-left: 75px;
}
.dog .img-dog {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  margin-right: 15px;
}
.dog .dog-talk {
  font-size: 13px;
  display: inline-block;
  background: #fbe5d7;
  padding: 10px 30px;
  border-radius: 40px;
  margin-bottom: 10px;
}
.dog .dog-talk .num {
  font-size: 11px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  border: 1px solid #373737;
  margin-right: 5px;
}
.dog .dog-talk a {
  display: inline-block;
  color: #373737;
  text-decoration: underline;
}
.price-info {
  text-align: center;
  background: #ff6b01;
  border-top-left-radius: 15px;
  padding: 10px;
  margin: 10px 0;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.19);
}
.price-info .price-w {
  font-weight: normal;
  font-size: 25px;
  color: #fff;
  margin-bottom: 0px;
  height: 40px;
}
.price-info .price-b {
  display: block;
  font-size: 15px;
}
p.price-b {
  margin-bottom: 0;
}
.td-nowarp {
  width: 1%;
  white-space: nowrap;
}
.td-nowarp + .td {
  padding-left: 10px;
}
.avatar-section {
  padding: 20px 0;
}
.avatar-section .img-avatar {
  width: 120px;
}
.avatar-section .img-avatar img {
  width: 105px;
  height: auto;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
}
.avatar-section .title {
  width: auto;
  width: 1%;
  white-space: nowrap;
}
.avatar-section .title h3 {
  margin: 0;
  margin-right: 20px;
  display: inline-block;
}
.avatar-section .avatar-form {
  color: #afafaf;
  font-size: 20px;
  display: inline-block;
  margin-bottom: 0;
}
.avatar-section .avatar-form td {
  padding: 0;
}
.avatar-section-v {
  padding-top: 20px;
  text-align: center;
}
.avatar-section-v .img-avatar {
  display: inline-block;
}
.avatar-section-v .img-avatar img {
  width: 105px;
  height: auto;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
}
.tag-list {
  margin-top: 20px;
}
.tag-list li {
  padding: 0 5px;
  float: left;
  display: inline-block;
  margin-bottom: 10px;
  /*        &.green{
            span{
                background: @green-light;
            }
        }
        &.orange{
            span{
                background: @orange-light;
            }
        }*/
}
.tag-list li span {
  padding: 8px 15px;
}
.table-no-line td {
  border-bottom: 0 !important;
}
.search .input-group-btn .btn {
  height: 33px;
  width: 50px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.search .input-group-btn .btn i {
  font-size: 20px;
  position: absolute;
  left: 15px;
  top: 8px;
}
.round-top-left {
  border-top-left-radius: 10px;
}
.mix-block {
  padding-top: 60px;
  margin-bottom: 60px;
}
.mix-block.ptop {
  padding-top: 10px;
}
.mix-block a {
  display: inline-table;
  position: relative;
  margin-bottom: 10px;
  overflow: hidden;
}
.mix-block a img {
  width: 100%;
}
.mix-block a:hover .hover-show,
.mix-block a:focus .hover-show {
  bottom: 0;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.mix-block a:hover .hover-show.for-about,
.mix-block a:focus .hover-show.for-about {
  bottom: auto;
  top: 0;
  height: 100%;
}
.mix-block .left a {
  margin-bottom: 0;
  /*   img{
            height: 429px;
        }*/
}
.mix-block.fixed-info .hover-show {
  bottom: 0;
  background: rgba(0, 0, 0, 0.65);
}
.mix-title {
  margin: 0;
  color: #373737;
  display: block;
  margin-bottom: 30px;
  margin-top: -10px;
  font-size: 25px;
  padding-left: 10px;
  border-left: 4px solid #ff6b01;
  /*        i{
            font-size: 40px;
            position: relative;
            top: 3px;
            left: -5px;
            color: @orange;
            &:before{
                color: @orange;
            }
        }*/
}
.hover-show {
  position: absolute;
  z-index: 2;
  background: rgba(0, 0, 0, 0.8);
  bottom: -200px;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  padding: 15px;
  width: 100%;
}
.hover-show.for-about {
  bottom: auto;
  top: calc(100% - 45px);
}
.hover-show.for-about .des {
  color: #fff;
  overflow: hidden;
  height: 103px;
}
.hover-show.author {
  height: 100px;
}
.hover-show.author .des {
  position: absolute;
  right: 20px;
  bottom: -10px;
}
.hover-show h3 {
  font-size: 18px;
  margin-top: 0;
  color: #ffffc9;
}
.hover-show .des {
  color: #fff;
  overflow: hidden;
  height: 38px;
}
.hover-show .price {
  text-align: right;
  color: #fff;
  margin-bottom: 0;
}
.hover-show .price span {
  font-size: 25px;
  color: #ff6b01;
}
.product-detail {
  padding: 40px 0 0 0;
}
.price-big {
  font-size: 35px;
}
.index-main-list {
  padding: 60px 0 20px 0;
}
.index-main-list .main-img {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.index-main-list .main-img img {
  width: 100%;
  border: 1px solid #ededed;
  cursor: pointer;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.index-main-list .main-img img.scale:hover {
  -webkit-transform: scale(1.13);
  -moz-transform: scale(1.13);
  -o-transform: scale(1.13);
  -ms-transform: scale(1.13);
  transform: scale(1.13);
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.index-main-list .main-img:hover .hover-show,
.index-main-list .main-img:focus .hover-show {
  bottom: 0;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.index-main-list ul.pic-list {
  margin-top: 15px;
}
.index-main-list ul.pic-list img {
  height: 75px;
}
.index-main-list ul.pic-list li {
  padding: 15px 0 15px 0;
  /*    &:last-child{
                border-bottom:0;
            }*/
}
.index-main-list ul.pic-list li > a {
  color: #373737;
}
.index-main-list ul.pic-list li > a .col-xs-8 {
  position: relative;
  height: 50px;
}
.index-main-list ul.pic-list li > a p {
  margin: 0;
}
.index-main-list ul.pic-list li > a h2 {
  margin: 0;
  font-size: 19px;
  font-weight: bolder;
  line-height: 24px;
  height: 43px;
  overflow: hidden;
}
.index-main-list ul.pic-list li > a h2 span {
  font-size: 19px;
}
.index-main-list ul.pic-list li > a h4 {
  font-size: 19px;
  font-weight: bolder;
  margin: 0;
  line-height: 24px;
  height: 43px;
  overflow: hidden;
}
.index-main-list ul.pic-list li .des {
  font-size: 14px;
  line-height: 21px;
  height: 40px;
  overflow: hidden;
}
.index-main-list ul.pic-list li .title {
  cursor: pointer;
  margin-bottom: 5px;
}
.index-main-list ul.pic-list li .title:hover {
  color: #ff6b01;
}
.index-main-list ul.pic-list li .price {
  /*text-align: right;*/
  color: #787878;
  font-size: 14px;
}
.index-main-list ul.pic-list li .price span {
  color: #ff6b01;
  font-size: 20px;
  margin-left: 5px;
  margin-right: 0;
  /*font-weight: bolder;*/
}
.index-main-list ul.pic-list li .price-b {
  color: #afafaf;
  font-size: 14px;
}
.index-main-list ul.pic-list li .price-b span {
  color: #ff6b01;
  font-size: 20px;
  margin-left: 5px;
}
.index-main-list ul.pic-list li .rt.mt5 {
  color: #787878;
  font-size: 13px;
  position: absolute;
  line-height: 18px;
  right: 0;
  bottom: -30px;
  padding-left: 5px;
}
.index-main-list ul.pic-list + .rt hr {
  display: none;
}
.index-main-list.for-index ul.pic-list li {
  border-bottom: 1px solid #ededed;
  height: 105px;
  padding: 0;
}
.index-main-list.for-index ul.pic-list li .price-b,
.index-main-list.for-index ul.pic-list li .price {
  position: absolute;
  right: 0;
  bottom: -30px;
}
.img-hover {
  cursor: pointer;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.img-hover:hover {
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.user-upload {
  width: 100%;
  display: block;
}
s.c-text {
  display: inline-block;
  color: #afafaf;
  margin: 0 5px;
}
.badge {
  border-radius: 2px;
  padding: 5px 8px 3px 8px;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: #7194cd;
}
.price {
  margin-bottom: 10px;
  color: #ff6b01;
  font-size: 18px;
}
.price span {
  font-size: 16px;
  margin-right: 3px;
  color: #afafaf;
}
.btn-select-o {
  border-radius: 0;
  padding: 3px 10px;
  background: transparent;
  color: #373737;
}
.btn-select-o.active {
  background: #ffb884;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
}
.btn-select-g {
  border-radius: 0;
  padding: 3px 10px;
  background: transparent;
  color: #373737;
}
.btn-select-g.active {
  background: #e3f4be;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
}
.has-arrow i {
  font-size: 12px;
  margin-top: 4px;
  position: absolute;
  right: 10px;
  opacity: .8;
}
.has-arrow i:before {
  content: "\e90b";
  font-family: "icomoon";
}
.has-arrow.collapsed i:before {
  content: "\e902";
  font-family: "icomoon";
}
.all-select li {
  display: inline-block;
  margin-right: 10px;
  border: 1px solid #ededed;
  padding: 3px 10px;
  padding-right: 30px;
  position: relative;
  top: -3px;
  margin-bottom: 10px;
}
.all-select li i {
  cursor: pointer;
  position: absolute;
  color: #bd0013;
  top: 4px;
  right: 4px;
  z-index: 1;
}
.all-select li i:before {
  content: "\e5cd";
  font-style: normal;
  font-family: "icomoon";
}
ul.select-list {
  display: block;
  margin-top: 10px;
}
ul.select-list li {
  display: inline-block;
  width: 32.33%;
  padding: 5px;
}
ul.select-list li .btn {
  display: block;
}
.hr-s {
  margin-top: 10px;
  margin-bottom: 10px;
}
.hr-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.fixed-img-width {
  width: 100%;
  height: auto;
}
/*Carousel v1*/
.carousel-v1 {
  margin: 0;
  overflow: hidden;
}
.carousel-v1 .carousel-inner {
  margin: 0;
}
.carousel-v1 .carousel-inner .item img {
  width: 100%;
  height: auto;
}
.carousel-v1 .carousel-arrow a.carousel-control {
  opacity: 1;
  font-size: 15px;
  height: inherit;
  width: inherit;
  text-shadow: none;
  position: absolute;
  height: 45px;
  width: 45px;
  background: #ffffff;
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  top: 50%;
  margin-top: -23px;
}
.carousel-v1 .carousel-arrow a.carousel-control:hover i {
  color: #7194cd;
}
.carousel-v1 .carousel-arrow a.carousel-control i {
  color: #afafaf;
  position: absolute;
  top: 15px;
}
.carousel-v1 .carousel-arrow a.left {
  left: -23px;
}
.carousel-v1 .carousel-arrow a.left i {
  right: 8px;
}
.carousel-v1 .carousel-arrow a.right {
  right: -23px;
}
.carousel-v1 .carousel-arrow a.right i {
  left: 8px;
}
.funtion-button {
  list-style: none;
  text-align: right;
}
.funtion-button li {
  /*display: inline;*/
}
.funtion-button li a {
  font-size: 15px;
}
/*=====carousel-fade===== */
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
#gotop i {
  font-size: 28px;
}
label {
  font-weight: normal;
}
.price2 {
  font-size: 18px;
  color: #95d600;
}
.price2 label {
  color: #373737;
  font-size: 15px;
}
.radio {
  padding-left: 25px;
  width: 100%;
}
.radio label {
  cursor: default;
  margin-top: 0px;
  padding-left: 0px;
}
.radio label span {
  vertical-align: top;
  line-height: 35px;
  display: inline-block;
}
.radio label span small {
  display: inline-block;
}
.radio .radio-title {
  font-size: 18px;
  vertical-align: top;
  line-height: 35px;
  margin-top: 0px;
  display: inline;
  margin-left: 5px;
}
.line-left {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.line-right {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
dl.dl-1 {
  background: white;
}
dl.dl-1 dt {
  text-align: center;
  font-size: 18px;
  color: #fff;
  font-weight: normal;
  background: #373737;
  padding: 0.8rem;
  border-radius: 10px;
}
dl.dl-1 dd {
  font-size: 18px;
  text-align: center;
  padding: 0.8rem 0;
  margin-bottom: 0.5rem;
}
.cur-p {
  cursor: pointer;
}
.cur-p:hover {
  color: #ff6b01;
}
.download i {
  font-size: 18px;
  color: #77ab00;
}
.download:hover {
  text-decoration: none;
}
.download:hover i {
  color: #ff6b01;
}
/* accordeon */
.qa-q {
  background: #f5f5f5;
}
.panel-group.qa .panel-heading {
  height: auto;
  position: relative;
}
.panel-group.qa .panel-heading h4 {
  display: block;
}
.panel-group.qa .panel-heading .panel-title {
  line-height: 1em;
  background: #f5f5f5;
}
.panel-group.qa .panel-heading .panel-title a {
  background: #ffffff;
  padding: 15px;
  display: block;
  color: #787878;
  text-decoration: none;
  font-size: 15px;
}
.panel-group.qa .panel-heading .panel-title a:hover {
  color: #95d600;
}
.panel-group.qa .panel-heading .panel-title a:before {
  content: "Q : ";
}
/*bootstrap-select*/
.bootstrap-select {
  margin-bottom: 0px;
}
.bootstrap-select ul.dropdown-menu {
  border: 1px solid #bd0013;
}
.bootstrap-select ul.dropdown-menu li a {
  background: #ffffff;
  padding: 5px 10px;
  color: #373737;
}
.bootstrap-select ul.dropdown-menu li a:hover {
  background: #f5f5f5;
}
.bootstrap-select ul.dropdown-menu li a:before {
  content: none;
}
.bootstrap-select ul.dropdown-menu .selected a {
  background: #95d600;
  color: #ffffff;
}
.bootstrap-select ul.dropdown-menu .selected a:hover {
  background: #77ab00;
}
ul.selectpicker li.active a {
  background: #f5f5f5;
}
ul.selectpicker li.active a:hover {
  background: #95d600;
  color: #ffffff;
}
.bootstrap-select .dropdown-menu {
  position: absolute;
}
/*///////////////////////////////////*/
.course-class {
  position: relative;
}
.course-class-bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 300px;
}
.course-class-bg span {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
.video-title {
  color: #fff;
  font-size: 40px;
  position: relative;
  text-align: center;
}
/*.video-section{
    position: relative;
    background: @light-gray;
    .custom-shadow-b;
    .embed-responsive.embed-responsive-16by9 {
            padding-bottom: 390px;
        }
    .video-info{
        padding: 10px 50px;
        font-size: 18px;
        font-weight: bolder;
        overflow: hidden;
        height: 390px;
        h3{
            font-size: 28px;
            font-weight: bolder;
            margin-bottom: 30px;
        }
        .des{
            overflow: hidden;
            height: 120px;
            font-weight: normal;
        }
        .detail-btn{
            margin-top: 10px;
            padding: 6px 60px;
            font-weight: bolder;
            font-size: 20px;
        }
    }
}*/
.video-section {
  background: #dfdfdf;
  padding: 70px 0;
}
.video-section.reduse {
  padding: 35px 0;
}
.video-block {
  background: #fff;
  -webkit-box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.3);
}
.video-block .video-right-content {
  padding: 25px;
}
.video-block .video-right-content h2 {
  margin-top: 0;
  font-size: 25px;
}
.video-block .video-right-content h3 {
  margin-top: 0;
  font-size: 18px;
}
.video-block .video-right-content span {
  display: inline-block;
  margin-right: 5px;
}
.video-block .video-right-content span i {
  font-size: 16px;
}
.video-block .video-right-content .v-badge {
  background: #e3f4be;
  padding: 3px 10px;
}
.video-block .video-right-content .v-des {
  margin-top: 15px;
  /* overflow: hidden;
            height: 46px;*/
}
.tabs-widget {
  margin-top: 40px;
}
.tabs-widget .nav-tabs {
  width: 100%;
  /*text-align:center;*/
  border-bottom: 0px solid #dfdfdf;
}
.tabs-widget .nav-tabs li {
  display: inline-block;
  margin-left: 30px;
  float: none;
}
.tabs-widget .nav-tabs li a {
  border-radius: 8px 8px 0 0;
  padding: 15px 30px 10px 30px;
  font-size: 1.3em;
  font-weight: 300;
  color: #373737;
}
.tabs-widget .nav-tabs li a::hover {
  background: #2ba8db;
  color: #fff;
}
.tabs-widget .nav-tabs li.active a {
  border: 1px solid #dfdfdf;
  border-bottom: 1px solid #fff;
}
.tabs-widget .nav-tabs li.active a:hover {
  background: none;
  color: #2f343b;
  border-bottom-color: #ffffff;
}
.tabs-widget .tab-content {
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  margin-top: -1px;
  border: 1px solid #dfdfdf;
}
.tabs-v2 {
  margin-bottom: 20px;
}
.tabs-v2 .nav-tabs {
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #ededed;
}
.tabs-v2 .nav-tabs li {
  display: inline-block;
  float: none;
  margin-bottom: -2px;
}
.tabs-v2 .nav-tabs li a {
  border-radius: 8px 8px 0 0;
  padding: 15px 30px 10px 30px;
  font-size: 18px;
  font-weight: 300;
  border-radius: 0;
  color: #373737;
}
.tabs-v2 .nav-tabs li a:hover {
  background: #f5f5f5;
}
.tabs-v2 .nav-tabs li a .has-icon {
  font-size: 40px;
  margin: 0;
  height: 40px;
}
.tabs-v2 .nav-tabs li.active a {
  border: 0;
  border-bottom: 2px solid #95d600;
  color: #77ab00;
  font-weight: bolder;
}
.tabs-v2 .nav-tabs li.active a:hover {
  background: none;
}
.tabs-v2 .tab-content {
  padding: 20px;
  width: 100%;
}
.course-c {
  line-height: 30px;
}
/*/////////////////video play///////////////////*/
body.no-header {
  padding-top: 0;
}
.video-play {
  height: 100vh;
  width: 100%;
  background: #000;
}
.video-play .top-bar {
  height: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  position: relative;
}
.video-play .left-menu {
  width: 350px;
  overflow: hidden;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  float: left;
}
.video-play .left-menu .top-bar {
  background: rgba(149, 214, 0, 0.25);
}
.video-play .left-menu .top-bar a {
  visibility: visible;
}
.video-play .left-menu .toggle-left-menu {
  position: absolute;
  top: 15px;
  right: 17px;
  z-index: 1;
}
.video-play .left-menu .toggle-left-menu i {
  font-size: 35px;
  color: #77ab00;
}
.video-play .left-menu .back {
  color: #fff;
  position: absolute;
  z-index: 1;
  font-size: 18px;
  top: 20px;
  left: 17px;
}
.video-play .left-menu .back i {
  font-size: 19px;
}
.video-play .left-menu .back i:before {
  color: #fff;
}
.video-play .left-menu .list-hold {
  height: calc(100vh - 60px);
  background: rgba(149, 214, 0, 0.25);
}
.video-play .left-menu .list-hold a.list-toggle {
  padding: 10px 10px 15px 10px;
  color: #fff;
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.video-play .left-menu .list-hold a.list-toggle span.num {
  background: #77ab00;
  color: #fff;
  width: 20px;
  height: 20px;
  font-size: 12px;
  border: 1px solid #77ab00;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  margin-right: 7px;
  float: left;
  margin-top: 2px;
  line-height: 20px;
}
.video-play .left-menu .list-hold a.list-toggle > .div-tb .td {
  position: relative;
}
.video-play .left-menu .list-hold a.list-toggle > .div-tb .td:first-child {
  width: 25px;
}
.video-play .left-menu .list-hold a.list-toggle > .div-tb .td:last-child {
  width: 30px;
}
.video-play .left-menu .list-hold a.list-toggle:hover {
  text-decoration: none;
}
.video-play .left-menu .list-hold a.list-toggle:after {
  content: "\e90b";
  font-family: "icomoon";
  color: #fff;
  position: absolute;
  z-index: 2;
  top: 50%;
  margin-top: -10px;
  right: 15px;
}
.video-play .left-menu .list-hold a.list-toggle.collapsed:after {
  content: "\e902";
}
.video-play .left-menu .list-hold ul.teacher-list li a {
  display: block;
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: #f7d156;
  position: relative;
  padding-left: 40px;
}
.video-play .left-menu .list-hold ul.teacher-list li a span.complete {
  float: none;
  color: #95d600;
}
.video-play .left-menu .list-hold ul.teacher-list li a span {
  display: inline-block;
  float: right;
  color: rgba(255, 255, 255, 0.3);
}
.video-play .left-menu .list-hold ul.teacher-list li a .progress {
  position: relative;
  margin-top: 10px;
  /*width: calc(~"100% - 40px");*/
}
.video-play .left-menu .list-hold ul.teacher-list li a .percent {
  margin-top: 5px;
  color: #95d600;
  /* position: absolute;
                        right: 3px;
                        bottom: -10px;*/
}
.video-play .left-menu .list-hold ul.teacher-list li a:before {
  display: inline-block;
  font-family: "icomoon";
  content: "\e922";
  position: absolute;
  font-size: 22px;
  color: #77ab00;
  left: 10px;
  top: 50%;
  margin-top: -13px;
  background: transparent;
  opacity: .3;
}
.video-play .left-menu .list-hold ul.teacher-list li a:after {
  display: inline-block;
  content: "";
  width: 20px;
  height: 10px;
}
.video-play .left-menu .list-hold ul.teacher-list li a:hover {
  text-decoration: none;
  color: #fff;
}
.video-play .left-menu .list-hold ul.teacher-list li a.active:before {
  content: "\e87f";
  opacity: 1;
  color: #e3f4be;
}
.video-play .right-content {
  float: left;
  width: calc(100% - 350px);
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.video-play .right-content .top-bar {
  background: rgba(149, 214, 0, 0.15);
  padding: 5px 15px;
}
.video-play .right-content .top-bar .toggle-left-menu {
  position: relative;
  display: none;
  float: left;
  z-index: 1;
  margin: 10px 10px 0 0;
}
.video-play .right-content .top-bar .toggle-left-menu i {
  font-size: 35px;
  color: #77ab00;
}
.video-play .right-content .top-bar .title {
  color: #fff;
  display: inline-block;
  float: left;
  margin-top: 15px;
  font-size: 18px;
}
.video-play .right-content .top-bar .info {
  margin-top: 5px;
  float: right;
  text-align: right;
  color: #fff;
}
.video-play .right-content .top-bar .info span {
  color: #f7d156;
}
.video-play .right-content .content-hold {
  padding: 15px;
}
.video-play.menu-close .left-menu {
  width: 0;
  overflow: hidden;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.video-play.menu-close .left-menu .top-bar a {
  visibility: hidden;
}
.video-play.menu-close .left-menu .list-hold {
  visibility: hidden;
}
.video-play.menu-close .right-content {
  width: 100%;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.video-play.menu-close .right-content .toggle-left-menu {
  display: inline-block;
}
.progress-sm {
  height: 5px;
  margin-bottom: 0px;
}
.img-full {
  width: 100%;
  height: calc(100vh - 90px);
}
.course-info {
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  padding: 10px 15px;
}
.course-info .div-tb .td.wid_30per {
  width: 35%;
}
.course-info .div-tb .td.wid_30per img {
  width: 100%;
}
.course-info .div-tb .td + .td {
  padding: 0 0 0 5px;
}
.course-info .div-tb .td-nowarp {
  color: #f7d156;
}
/*/////////////////END video play///////////////////*/
.panel-group.sort-panel .panel-default + .panel-default {
  margin-top: -1px !important;
}
.panel-group.sort-panel .panel-default {
  border-color: rgba(0, 0, 0, 0.12);
  margin-top: 0;
  overflow: hidden;
}
.panel-group.sort-panel .panel-default .panel-heading {
  height: auto;
  position: relative;
  padding: 0;
}
.panel-group.sort-panel .panel-default .panel-heading h4.panel-title {
  display: block;
  line-height: 1em;
  background: #ffffff;
}
.panel-group.sort-panel .panel-default .panel-heading h4.panel-title a {
  background: #ffffff;
  padding: 15px;
  display: block;
  color: #373737;
  text-decoration: none;
  font-size: 16px;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.panel-group.sort-panel .panel-default .panel-heading h4.panel-title a i {
  font-size: 30px;
  /*color:@gray-dark;*/
  float: left;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.panel-group.sort-panel .panel-default .panel-heading h4.panel-title a:hover {
  background: #ffffff;
  color: #ff6b01;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.panel-group.sort-panel .panel-default .panel-heading h4.panel-title a:hover i {
  color: #ffffff;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.panel-group.sort-panel .panel-default .panel-heading h4.panel-title span.num {
  background: #95d600;
  color: #fff;
  width: 20px;
  height: 20px;
  font-size: 12px;
  border: 1px solid #95d600;
  border-radius: 50%;
  padding: 2px;
  text-align: center;
  display: inline-block;
  margin-right: 7px;
  float: left;
  margin-top: -2px;
}
.panel-group.sort-panel .panel-default .panel-heading .accordion-toggle:after {
  font-family: "icomoon";
  content: '\e902';
  position: absolute;
  right: -10px;
  top: 50%;
  margin-top: -8px;
  margin-right: 20px;
  /*color: rgba(255,255,255,.4);*/
  color: #afafaf;
  font-size: 13px;
}
.panel-group.sort-panel .panel-default .panel-heading .accordion-toggle:after a i {
  color: #afafaf;
}
.panel-group.sort-panel .panel-default .panel-heading .accordion-toggle.active {
  color: #ff6b01;
}
.panel-group.sort-panel .panel-default .panel-heading .accordion-toggle.collapsed {
  background: #ffffff;
  color: #373737;
}
.panel-group.sort-panel .panel-default .panel-heading .accordion-toggle.collapsed:after {
  content: "\e939";
  color: #afafaf;
}
.panel-group.sort-panel .panel-default .panel-heading .accordion-toggle.one-level:after {
  display: none;
}
.panel-group.sort-panel .panel-default .panel-heading .select-radio {
  position: absolute;
  left: 10px;
  top: 10px;
}
.panel-group.sort-panel .panel-default .panel-body {
  padding: 10px;
  background: rgba(0, 0, 0, 0.015);
}
.panel-group.sort-panel .panel + .panel {
  margin-top: 0;
}
ul.side-sub-menu li a {
  display: block;
  line-height: 20px;
  padding: 8px 0 8px 20px;
  color: #373737;
  position: relative;
}
ul.side-sub-menu li a:hover {
  color: #ff6b01;
}
ul.side-sub-menu li a:before {
  position: absolute;
  display: inline-block;
  content: " . ";
  left: 9px;
  top: 1px;
  color: #afafaf;
  font-size: 25px;
}
ul.side-sub-menu li.active a {
  color: #ff6b01;
}
ul.video-sub-menu {
  margin-bottom: 0;
}
ul.video-sub-menu li a {
  display: block;
  line-height: 20px;
  padding: 8px 0 8px 40px;
  color: #373737;
  position: relative;
  border-bottom: 1px solid #ededed;
}
ul.video-sub-menu li a:hover {
  color: #ff6b01;
}
ul.video-sub-menu li a:before {
  position: absolute;
  display: inline-block;
  content: " \e91d";
  font-family: "icomoon";
  left: 9px;
  top: 10px;
  color: #afafaf;
  font-size: 25px;
}
ul.video-sub-menu li a .v-badge {
  float: right;
  border: 1px solid #95d600;
  color: #95d600;
  padding: 0px 5px;
  font-size: 13px;
  position: relative;
  top: -4px;
  right: 20px;
}
ul.video-sub-menu li a .time {
  float: right;
}
ul.video-sub-menu li.active a {
  color: #ff6b01;
}
ul.video-sub-menu li:last-child a {
  border-bottom: 0;
}
.camp-list li + li {
  margin-top: -1px;
}
.camp-list li {
  /*background: @light-white;*/
  border: 1px solid #ededed;
  padding: 15px;
}
.camp-list li .camp-des h3 {
  margin: 5px 0;
  color: #77ab00;
  font-size: 18px;
  padding-right: 25px;
}
.camp-list li .camp-price {
  text-align: right;
  border-left: 1px solid #ededed;
}
.camp-list li .camp-price .map i {
  color: #95d600;
  font-size: 18px;
  margin: 0 5px;
}
.camp-list li .camp-price .price {
  font-size: 30px;
}
.camp-list .camp-img {
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.camp-list .camp-img .l-badge {
  padding: 2px 40px;
  background: #ff6b01;
  color: #fff;
  position: absolute;
  z-index: 1;
  right: -38px;
  top: 19px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  text-align: center;
}
.left-avatar {
  padding: 0 50px;
  margin-bottom: 20px;
  text-align: center;
}
.left-avatar .img-circle {
  width: 100%;
  max-width: 200px;
}
.left-avatar p {
  text-align: center;
  margin-top: 10px;
}
.line-left {
  border-left: 1px solid #ededed;
}
.percent-hold {
  display: inline-block;
  text-align: center;
}
.percent-hold .progress-t {
  position: relative;
  width: 100%;
  text-align: center;
  color: #95d600;
  top: 71px;
  right: 0;
  z-index: 9;
  font-size: 20px;
}
.keep-go i {
  font-size: 23px;
  position: relative;
  top: 4px;
}
.learning-list {
  display: block;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 15px;
  position: relative;
  border: 1px solid #ededed;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  cursor: pointer;
}
.learning-list:hover {
  border: 1px solid #ff6b01;
}
.learning-list h4 {
  font-size: 15px;
  color: #373737;
  padding: 5px 10px;
  height: 38px;
  display: block;
  overflow: hidden;
  position: relative;
}
.learning-list:hover {
  /*.scale(1.04);*/
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  text-decoration: none;
  overflow: hidden;
}
.learning-list .l-badge {
  padding: 2px 40px;
  background: #ff6b01;
  color: #fff;
  position: absolute;
  z-index: 1;
  right: -38px;
  top: 19px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  text-align: center;
}
.learning-list .l-badge.percent {
  background: #77ab00;
  padding: 2px 0px;
  right: -21px;
  top: 7px;
  width: 80px;
}
.learning-list .l-tag {
  position: absolute;
  z-index: 1;
  background: #fff;
  top: 10px;
  left: 10px;
  font-size: 13px;
  padding: 2px 10px;
  border-radius: 5px;
}
.learning-list .l-tag.advanced {
  background: #f7d156;
}
.learning-list .l-price {
  text-align: right;
  color: #ff6b01;
  font-size: 18px;
  font-weight: bolder;
  padding: 5px 10px;
}
.learning-list .l-price s {
  font-size: 14px;
  color: #afafaf;
  font-weight: normal;
}
.learning-list .img-hold {
  overflow: hidden;
  height: 150px;
}
.l-close {
  color: #fff;
  font-size: 18px;
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.l-close:hover {
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -o-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.l-close:hover:before {
  color: #f7d156;
}
.l-close:before {
  display: inline-block;
  content: "\e5cd";
  font-family: "icomoon";
  background: rgba(0, 0, 0, 0.5);
  width: 25px;
  text-align: center;
  padding-top: 1px;
  height: 25px;
  border-radius: 50%;
}
.tab-mobile .tab-mobile-select {
  border-radius: 0;
  background: #77ab00;
  border-color: #77ab00;
}
.tab-mobile .dropdown-menu {
  width: 100%;
  padding: 0;
}
.tab-mobile .dropdown-menu .nav.nav-tabs {
  display: block;
}
.tab-mobile .dropdown-menu .nav.nav-tabs li {
  display: block;
  margin-bottom: 0;
}
.tab-mobile .dropdown-menu .nav.nav-tabs li a {
  display: block;
  font-size: 16px;
  padding: 8px 0 6px 0;
  border-bottom: 1px solid #ededed;
}
.order-list {
  border: 1px solid #ededed;
}
.order-list.green-rim {
  border: 4px solid #e3f4be;
  /*background: @green-white;*/
}
.order-list > li {
  padding: 15px;
  border-bottom: 1px solid #ededed;
  position: relative;
}
.order-list > li:last-child {
  border-bottom: 0;
}
.order-list .div-tb .td.wid_30per {
  width: 35%;
}
.order-list .div-tb .td.wid_30per img {
  width: 100%;
}
.order-list .div-tb .td + .td {
  padding: 0 0 0 15px;
}
.order-list .div-tb .title {
  margin: 0 0  5px 0;
  font-size: 18px;
}
.order-list .div-tb .title.st {
  color: #77ab00;
}
.order-list .div-tb .title span {
  font-size: 16px;
  color: #afafaf;
}
.order-list .div-tb .title i {
  font-size: 22px;
  position: relative;
  top: 2px;
}
.order-list .div-tb .info {
  margin-bottom: 3px;
}
.order-list .div-tb .info span {
  color: #ff6b01;
  font-size: 18px;
  font-weight: bolder;
}
.order-list .div-tb .price {
  color: #ff6b01;
  font-size: 18px;
  margin-bottom: 3px;
}
.order-list .div-tb .status {
  float: left;
}
.order-list .div-tb .status i {
  font-size: 18px;
  color: #787878;
  position: relative;
  top: 2px;
}
.order-list .div-tb .date {
  float: right;
  color: #afafaf;
}
.order-list .dropdown {
  top: 5px;
  position: relative;
}
.order-list .dropdown .btn {
  padding: 3px;
  font-size: 13px;
}
.order-list .dropdown .btn i {
  font-size: 12px;
  color: #afafaf;
}
.order-list .dropdown .btn i:before {
  color: #afafaf;
}
.order-list .dropdown .dropdown-menu {
  padding: 10px;
}
.step-hold {
  padding: 30px 0;
  border-bottom: 1px solid #ededed;
}
.wizard-steps {
  list-style: none;
  display: table;
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}
.wizard-steps li {
  display: table-cell;
  text-align: center;
  width: 1%;
}
.wizard-steps li .step {
  color: #dfdfdf;
  background: #FFF;
  position: relative;
  z-index: 2;
  display: inline-block;
  width: 70px;
  height: 70px;
  line-height: 32px;
  text-align: center;
  overflow: hidden;
  border: 5px solid #dfdfdf;
  border-radius: 50%;
  padding-top: 15px;
}
.wizard-steps li .step i {
  display: inline-block;
  content: "";
  color: #dfdfdf;
  font-size: 40px;
  /*     position: absolute;
                            top: 5px;
                            left: 0;
                            z-index: 99;*/
}
.wizard-steps li .step i:before {
  color: #dfdfdf;
}
.wizard-steps li:before {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  font-size: 0;
  overflow: hidden;
  border-top: 5px solid #dfdfdf;
  position: relative;
  top: 38px;
  z-index: 1;
}
.wizard-steps li:last-child:before {
  max-width: 50%;
  width: 50%;
}
.wizard-steps li:first-child:before {
  max-width: 51%;
  left: 50%;
}
.wizard-steps li .title {
  display: block;
  margin-top: 8px;
  max-width: 100%;
  color: #afafaf;
  font-size: 13px;
  z-index: 104;
  text-align: center;
  table-layout: fixed;
  word-wrap: break-word;
}
.wizard-steps li.active .step i:before {
  color: #95d600;
}
.wizard-steps li.active:before,
.wizard-steps li.active .step {
  border-color: #95d600;
  color: #95d600;
}
.wizard-steps li.complete .step {
  cursor: default;
  color: #FFF;
  -webkit-transition: transform ease .1s;
  transition: transform ease 0.1s;
}
.wizard-steps li.complete .title,
.wizard-steps li.active .title {
  color: #373737;
}
@media only screen and (max-width: 767px) {
  .wizard-steps li .step {
    width: 40px;
    height: 40px;
    line-height: 24px;
    border-width: 3px;
    padding-top: 6px;
  }
  .wizard-steps li .step i {
    font-size: 23px;
  }
  .wizard-steps li:before {
    border-top: 3px solid #dfdfdf;
    top: 23px;
  }
}
.video-img {
  position: relative;
}
.video-img img {
  width: 100%;
}
.video-img:hover span.play {
  background: #bd0013;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.video-img span.play {
  width: 68px;
  height: 48px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -34px;
  margin-left: -24px;
  text-align: center;
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding-top: 10px;
  cursor: pointer;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 2;
}
.video-img span.play i {
  color: #fff;
  font-size: 30px;
}
.video-img .video-holder {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
}
.video-img .video-holder .embed-responsive.embed-responsive-16by9 {
  padding-bottom: 61.4% !important;
}
.qa-toggle .panel-heading a {
  color: #373737;
  position: relative;
}
.qa-toggle .panel-heading a.collapsed::after {
  content: "\e902";
  color: #afafaf;
}
.qa-toggle .panel-heading a:after {
  font-family: "icomoon";
  content: '\e90b';
  position: absolute;
  right: -20px;
  top: 50%;
  margin-top: -8px;
  margin-right: 20px;
  color: rgba(255, 255, 255, 0.4);
  color: #afafaf;
  font-size: 13px;
}
ul.qa-list {
  overflow-y: auto;
}
ul.qa-list li {
  display: block;
}
ul.qa-list li a {
  display: block;
  position: relative;
  color: #373737;
  padding: 3px 0 3px 27px;
  margin-bottom: 5px;
}
ul.qa-list li a:before {
  font-family: "icomoon";
  content: '\e621';
  position: absolute;
  left: 0px;
  top: 2px;
  color: #fff;
  font-size: 13px;
  background: rgba(0, 0, 0, 0.4);
  padding-top: 3px;
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
ul.qa-list li a:hover {
  text-decoration: none;
  color: #ff6b01;
}
.modal-vertical-middle {
  display: table;
  height: 100%;
  margin: 0 auto;
}
.modal-vertical-middle .modal-dialog {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.modal-vertical-middle .modal-dialog .modal-body {
  word-break: break-all;
}
.modal-vertical-middle .modal-title {
  text-align: left;
}
.one-line-collapse {
  height: 30px;
  overflow: hidden;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.one-line-collapse.active {
  height: auto;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.more-btn {
  font-size: 14px;
  padding: 3px 10px;
  position: absolute;
  right: 10px;
}
.more-btn i {
  font-size: 11px;
}
.more-btn i:before {
  color: #bababa;
}
.side-ad {
  /* display: none; */
  /*XXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 9;
  width: 250px;
  background: #fff;
  padding: 10px;
  border-radius: 10px 0 0 0px;
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.side-ad.active {
  right: -250px;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.side-ad.active .open-toggle {
  display: block;
}
.side-ad .close-toggle {
  color: #373737;
  text-decoration: none;
}
.side-ad .close-toggle:hover {
  color: #ff6b01;
}
.side-ad .open-toggle {
  display: none;
  color: #373737;
  position: absolute;
  background: #fff;
  left: -20px;
  width: 20px;
  padding: 5px;
  line-height: 20px;
  border-radius: 10px 0 0 10px;
  text-decoration: none;
  webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
}
.side-ad .open-toggle i {
  font-size: 12px;
}
.side-ad .open-toggle:hover {
  color: #ff6b01;
}
.side-ad ul.ad-list li a {
  margin-bottom: 10px;
}
.side-ad ul.ad-list li a img {
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.side-ad ul.ad-list li a img:hover {
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -o-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}
.side-ad ul.ad-list li:last-child a {
  margin-bottom: 0;
}
.up-load-img {
  width: 100%;
  height: 300px;
  background: #f5f5f5;
  line-height: 280px;
}
.recoment-left img {
  width: 100%;
  margin: 10px 0;
  padding: 3px;
  background: #fff;
  border: 1px solid #ededed;
}
.recoment-left h2 {
  margin-top: 0;
}
ul.news-list li {
  display: block;
  border-bottom: 1px solid #ededed;
}
ul.news-list li a {
  display: block;
  color: #77ab00;
  padding: 10px;
  text-decoration: none;
}
ul.news-list li a:hover {
  color: #ff6b01;
}
ul.news-list li.active a {
  /*background: @light-white;*/
  color: #afafaf;
}
ul.news-list li:last-child {
  border-bottom: 0;
}
.talk-list {
  padding-bottom: 5px;
}
.talk-list > a {
  color: #373737;
}
.talk-list > a:hover {
  text-decoration: none;
}
.talk-list h5 {
  color: 15px;
}
.talk-list .t-date {
  font-size: 13px;
  color: #afafaf;
  line-height: 17px;
  display: inline-block;
}
.talk-list .avatar-area {
  width: 75px;
  padding-right: 15px;
}
.talk-list .avatar-area.small {
  width: 50px;
}
.talk-list .avatar-area.small img {
  background: #fff;
  padding: 2px;
  border: 1px solid #ededed;
}
.talk-list .respon {
  width: 65px;
  padding-left: 15px;
  text-align: center;
}
.talk-list .respon span {
  font-size: 20px;
  color: #afafaf;
}
.talk-list .respon span.active {
  color: #95d600;
}
.talk-list .talk-contant {
  padding: 10px 0 0 75px;
}
.talk-list .talk-contant h6.badge {
  background: #f7d156;
  display: inline-block;
  color: #000;
}
.talk-list .talk-contant p {
  line-height: 22px;
  margin-bottom: 5px;
}
.talk-list .talk-contant .div-tb {
  margin-bottom: 10px;
}
.love {
  position: absolute;
  right: 10px;
  top: 10px;
}
.love.tr0 {
  right: 10px;
  top: 0px;
}
.love i {
  color: #afafaf;
  font-size: 18px;
  font-style: normal;
}
.love i:before {
  display: inline-block;
  font-family: "icomoon";
  content: "\f08a";
}
.love.active i {
  color: #bd0013;
}
.love.active i:before {
  content: "\f004";
}
.loudspeaker {
  text-decoration: none;
  margin-top: 6px;
}
.loudspeaker i {
  color: #afafaf;
  font-size: 22px;
}
.loudspeaker:hover,
.loudspeaker:focus {
  text-decoration: none;
}
.loudspeaker.active {
  text-decoration: none;
}
.loudspeaker.active i {
  color: #bd0013;
}
.list-info .col {
  margin-bottom: 10px;
}
.list-info .div-tb .hd {
  text-align: right;
  width: 100px;
  color: #787878;
}
.table-row {
  border-bottom: 1px solid #ededed;
  padding: 20px 0;
}
.table-row .td {
  padding: 15px;
  width: 50%;
}
.about-title {
  text-align: center;
  display: block;
}
.scale-img {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.scale-img:hover {
  -webkit-transform: scale(1.06);
  -moz-transform: scale(1.06);
  -o-transform: scale(1.06);
  -ms-transform: scale(1.06);
  transform: scale(1.06);
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.note-expand {
  color: #373737;
  margin-top: 5px;
  text-decoration: none;
}
.note-expand i {
  color: #bababa;
  font-size: 12px;
}
.note-expand:hover,
.note-expand:focus {
  text-decoration: none;
}
.a3s a {
  display: inline-block;
  font-size: 14px;
  color: #77ab00;
}
.a3s img {
  max-width: 200px;
}
