/*color*/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/*font-family: "微軟正黑體", "Microsoft YaHei", "Arial Unicode MS", "Helvetica Neue", Helvetica, sans-serif;*/
.main-title {
  /*margin-top: 13px;*/
  border-left: 3px solid #95d600;
  text-indent: 10px;
  padding-top: 4px;
  font-size: 25px;
}
.special-title {
  height: 42px;
  font-size: 20px;
  background: #f7d156;
  position: relative;
  line-height: 44px;
  padding-left: 60px;
  font-weight: bolder;
  border-radius: 25px;
}
.special-title:before {
  display: inline-block;
  height: 42px;
  width: 54px;
  background: url(../img/inpage/banner-left-arrow.jpg) no-repeat;
  background-size: cover;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}
.title-red {
  color: #e9392a;
  font-weight: bolder;
  font-size: 15px;
}
.discount-title {
  padding-left: 30px;
  position: relative;
  font-size: 18px;
  font-weight: bolder;
}
.discount-title:before {
  content: "";
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url(../img/inpage/i-tag.jpg) no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.discount-title.talk:before {
  background: url(../img/inpage/i-talk.jpg) no-repeat;
  background-size: cover;
}
.orange-title {
  background: #ff6b01;
  color: #fff;
  font-size: 20px;
  padding: 8px 0 7px 15px;
  border-top-left-radius: 15px;
}
.gray-title {
  color: #afafaf;
  font-size: 20px;
}
.dark-title {
  color: #373737;
  line-height: 27px;
  font-size: 20px;
  position: relative;
  display: block;
}
.dark-title small.note {
  position: absolute;
  left: 50%;
  margin-left: 35px;
  top: 10px;
}
.color-green-dark.inline-block {
  margin: 3px;
}
.product-title {
  font-size: 30px;
  margin-top: 0;
}
.two-title {
  margin-top: 20px;
}
.two-title .orange-title,
.two-title .gray-title {
  display: inline-block;
}
.two-title .orange-title {
  margin-right: 20px;
}
.title-b-line {
  border-bottom: 1px solid #ededed;
  font-size: 25px;
  padding-bottom: 10px;
}
.title-icon {
  color: #77ab00;
}
.title-icon i {
  font-size: 33px;
  margin-right: 6px;
  position: relative;
  top: 3px;
}
.bg-green-title {
  padding: 5px 10px 3px 10px;
  margin-bottom: 15px;
  font-size: 18px;
  display: inline-block;
  color: #fff;
  background: #77ab00;
}
