<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE taglib
	PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.1//EN"
	"http://java.sun.com/j2ee/dtds/web-jsptaglibrary_1_1.dtd">
<!-- a tag library descriptor -->
<taglib>
	<!-- after this the default space is
		"http://java.sun.com/j2ee/dtds/jsptaglibrary_1_2.dtd"
	-->
	<tlibversion>1.0</tlibversion>
	<jspversion>1.1</jspversion>
	<shortname>sessionConversation</shortname>
	<tag>
		<name>insertSessionConversationId</name>
		<tagclass>com.e7learning.common.taglib.SessionConversationIdTag</tagclass>
		<bodycontent>JSP</bodycontent>
		<info>An insertion tag</info>
		<attribute>
			<name>attributeName</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
</taglib>