@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?4q9dek');
  src:  url('fonts/icomoon.eot?4q9dek#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4q9dek') format('truetype'),
    url('fonts/icomoon.woff?4q9dek') format('woff'),
    url('fonts/icomoon.svg?4q9dek#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-recommend:before {
  content: "\e92e";
  color: #4d4d4d;
}
.icon-progress-0-per:before {
  content: "\e923";
}
.icon-progress-10-per:before {
  content: "\e924";
}
.icon-progress-20-per:before {
  content: "\e925";
}
.icon-progress-30-per:before {
  content: "\e926";
}
.icon-progress-40-per:before {
  content: "\e927";
}
.icon-progress-50-per:before {
  content: "\e928";
}
.icon-progress-60-per:before {
  content: "\e929";
}
.icon-progress-70-per:before {
  content: "\e92a";
}
.icon-progress-80-per:before {
  content: "\e92b";
}
.icon-progress-90-per:before {
  content: "\e92c";
}
.icon-progress-100-per:before {
  content: "\e92d";
}
.icon-loudspeaker:before {
  content: "\e921";
}
.icon-back:before {
  content: "\e920";
}
.icon-play:before {
  content: "\e90f";
}
.icon-student:before {
  content: "\e911";
}
.icon-teacher:before {
  content: "\e91f";
}
.icon-user:before {
  content: "\e905";
}
.icon-list:before {
  content: "\e91e";
}
.icon-book:before {
  content: "\e919";
}
.icon-goal:before {
  content: "\e91a";
}
.icon-paper-info:before {
  content: "\e91b";
}
.icon-pentool:before {
  content: "\e91c";
}
.icon-video-camera:before {
  content: "\e91d";
}
.icon-download:before {
  content: "\e90d";
}
.icon-bell:before {
  content: "\e90c";
}
.icon-truck:before {
  content: "\e910";
}
.icon-clipboard:before {
  content: "\e900";
}
.icon-coin2:before {
  content: "\e901";
}
.icon-overview-use:before {
  content: "\e633";
}
.icon-location:before {
  content: "\e903";
}
.icon-spanner:before {
  content: "\e904";
}
.icon-error_outline:before {
  content: "\e001";
}
.icon-mail:before {
  content: "\e158";
}
.icon-insert_comment:before {
  content: "\e24c";
}
.icon-visibility:before {
  content: "\e8f4";
}
.icon-card_giftcard:before {
  content: "\e8f6";
}
.icon-gavel:before {
  content: "\e90e";
}
.icon-close:before {
  content: "\e5cd";
}
.icon-lock:before {
  content: "\e897";
}
.icon-people:before {
  content: "\e917";
}
.icon-VIP:before {
  content: "\e918";
}
.icon-log-out:before {
  content: "\e912";
}
.icon-login:before {
  content: "\e913";
}
.icon-print:before {
  content: "\e915";
}
.icon-circle-line:before {
  content: "\e922";
}
.icon-checkmark-circle:before {
  content: "\e87f";
}
.icon-checklist:before {
  content: "\f076";
}
.icon-top_clock:before {
  content: "\e623";
  color: #444;
}
.icon-bar_set:before {
  content: "\e604";
  color: #444;
}
.icon-main_export:before {
  content: "\e61d";
}
.icon-main_import:before {
  content: "\e61e";
}
.icon-main_search:before {
  content: "\e622";
  color: #444;
}
.icon-main_Que:before {
  content: "\e621";
  color: #444;
}
.icon-main_edit:before {
  content: "\e61c";
  color: #444;
}
.icon-main_delete:before {
  content: "\e61b";
  color: #444;
}
.icon-item_income_pay:before {
  content: "\e616";
  color: #444;
}
.icon-item_income_other:before {
  content: "\e615";
}
.icon-item_expend_shopping:before {
  content: "\e612";
  color: #444;
}
.icon-item_expend_casual:before {
  content: "\e60d";
  color: #444;
}
.icon-item_expend_home:before {
  content: "\e610";
  color: #444;
}
.icon-item_expend_financial:before {
  content: "\e60f";
  color: #444;
}
.icon-item_expend_other:before {
  content: "\e611";
  color: #444;
}
.icon-item_other:before {
  content: "\e617";
}
.icon-expend_financialcard:before {
  content: "\e609";
  color: #444;
}
.icon-expend_export:before {
  content: "\e608";
  color: #444;
}
.icon-income_import:before {
  content: "\e60b";
  color: #444;
}
.icon-main_calendar:before {
  content: "\e61a";
  color: #444;
}
.icon-ok:before {
  content: "\ea10";
}
.icon-loop:before {
  content: "\ea2e";
}
.icon-item_income_financial:before {
  content: "\e614";
}
.icon-file-text:before {
  content: "\e906";
}
.icon-bubbles4:before {
  content: "\e907";
}
.icon-star-empty:before {
  content: "\e908";
}
.icon-star-full:before {
  content: "\e909";
}
.icon-facebook:before {
  content: "\e914";
}
.icon-key:before {
  content: "\f049";
}
.icon-expand_left:before {
  content: "\e90a";
  color: #37474f;
}
.icon-expand_right:before {
  content: "\e939";
  color: #37474f;
}
.icon-expand:before {
  content: "\e902";
  color: #37474f;
}
.icon-pack-up:before {
  content: "\e90b";
  color: #37474f;
}
.icon-shopping-cart:before {
  content: "\f07a";
}
.icon-facebook-square:before {
  content: "\f082";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-google-plus-square:before {
  content: "\f0d4";
}
.icon-youtube-square:before {
  content: "\f166";
}
.icon-youtube-play:before {
  content: "\f16a";
}
.icon-filter:before {
  content: "\f0b0";
}
.icon-clock-o:before {
  content: "\f017";
}
.icon-check-circle-o:before {
  content: "\f05d";
}
.icon-warning:before {
  content: "\e916";
}
.icon-heart:before {
  content: "\f004";
}
.icon-heart-o:before {
  content: "\f08a";
}
